.ForecastDay {
  text-align: center;
}
.ForecastDay .forecast-temp-min {
  opacity: 0.5;
  margin-left: 4px;
}
.ForecastDay img {
  width: 65px;
}
.ForecastDay .forecast-date {
  font-size: 14px;
}
@media (max-width: 550px) {
  .ForecastDay .day {
    position: relative;
    top: 6px;
  }
  .ForecastDay .forecast-date {
    font-size: 8px;
    position: relative;
    top: 6px;
  }
  .ForecastDay img {
    width: 60px;
  }
  .ForecastDay .forecast-temp-max,
  .ForecastDay .forecast-temp-min {
    position: relative;
    bottom: 2px;
  }
}
