.Weather {
  border: 5px ridge rgb(20, 20, 20);
  padding: 12px;
  margin: auto 0;
  border-radius: 15px;
  max-width: 500px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d0/Background-clouds.jpg");
  background-size: cover;
  text-align: center;
}

.Weather li {
  list-style-type: none;
  line-height: 1.5;
}
.Weather .current-temp-icon {
  width: 70px;
  position: relative;
  bottom: 10px;
}
.Weather .temperature {
  font-size: 60px;
  color: #212121;
  line-height: 60px;
}
.Weather .unit {
  color: #212121;
  position: relative;
  bottom: 25px;
  left: 2px;
  font-size: 20px;
}

@media (max-width: 600px) {
  .Weather .time-date-conditions {
    padding-left: 25px;
    font-size: 12px;
  }
  .Weather .current-weather {
    display: flex;
    position: relative;
    padding: 0;
    right: 6px;
    top: 10px;
  }
  .Weather .current-temp-icon {
    height: 100px;
  }
  .Weather .temperature {
    position: relative;
    right: 3px;
    font-size: 65px;
  }
  .Weather .unit {
    position: relative;
    top: 5px;
    left: 2px;
  }
  .Weather .current-info {
    font-size: 12px;
    position: relative;
    top: 12px;
    padding: 2;
  }
  .Weather .forecast {
    margin-top: 20px;
    font-size: 12px;
  }
}
